body, html {
  margin: 0;
  height: 100%;
  background-color: black;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.float-right{
  float : right;
}
.float-left{
  float : left;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  text-align: center;
}

.mid-width {
  display: inline-block;
  width: 50%;
}

.general-panel, .viewer-panel, .gui-panel {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  text-align : center;
}

.general-panel {
  width: 20%;
  min-width: 200px;
  max-width: 20%;
  padding : 10px;
}

.data-label {
  font-weight: bold;
}

.data-content {
  font-size : 0.8em;
}

.viewer-panel {
  width: 60%;
  min-width: 200px;
}

.gui-panel {
  width: 245px;
  position: absolute;
  top: 100px;
  right: 0;
}

.align-left {
  text-align: left;
}

.viewer-canvas {
  height: 500px;
  max-height: 500px;
  max-width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.viewer-canvas canvas{
  border: 1px solid white;
}

.direction {
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  position: absolute;
  padding: 4px;
  border-radius: 50%;
  min-width: 18px;
  min-height: 18px;
  text-align: center;
  background-color: rgba(0, 0, 0, .3);
}

#top {
  top: 8px;
}

#bottom {
  bottom: 8px;
}

#left {
  left: 8px;
}

#right {
  right: 8px;
}

#my-lut-canvases{
  padding : 10px;
}
#my-lut-canvases canvas{
  border : solid grey 1px;
}

/*

#VJSProbe {
  position: absolute;
  bottom:0;
  left: 0;
  width: 260px;
  height: 45px;
  font-family: monospace;
  padding: 10px;
  background-color: rgba(249, 249, 249, .7);
}

#my-lut-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  color: #F9F9F9;
  //display: flex;
}

#my-lut-container > #my-lut-canvases {
  position: relative;
}

#my-lut-min {
  margin-right: 10px;
}

#my-lut-max {
  margin-left: 10px;
}

#my-lut-container > #my-lut-canvases > :first-child {
  background: repeating-linear-gradient(-45deg, #353535, #353535 5px, black 5px, black 10px);
}

#my-lut-container > #my-lut-canvases > :nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
*/
